@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Benzin;
    src: url(./Fonts/Unbounded-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Benzin;
}
    
.container{
    max-width: 1366px;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #fff;
}